.pw-boxes
{
    margin-left: auto;
    margin-right: auto;
}

.password-iconReset
{
    font-size: 22px;
    position: absolute;
    top: 4%;
    right: -40%;
    cursor: pointer;
}

.password-iconConfirmReset
{
    font-size: 22px;
    position: absolute;
    top: 34%;
    right: -40%;
    cursor: pointer;
}