body
{
    background-color: rgb(30,30,30) !important;
    color: white !important;
}

.right
{
    padding-top: 5%;
    overflow: hidden;
}

.top-left
{
    height: 50%;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 20px;
    box-shadow: inset 0px 0px 0px 3px rgb(247,155,1);
    box-sizing: border-box;
    
}

.bottom-left
{
    height: 50%;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 20px;
    box-shadow: inset 0px 0px 0px 3px rgb(247,155,1);
    box-sizing: border-box;
}