.myQuizRow
{
    width: 100%;
    text-align: center;
}

.myQuiz
{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 55px;
    text-align: center;
    width: 70%;
    border: solid 1px #D99512;
    display:inline-block;
}

.quizButton
{
    color: white;
    font-size: 30px;
    height: 100%;
    width: 100%;
    background: none;
    border: none;
}
.otherButtons{
    color: white;
    font-size: 24px;
    margin-bottom:10%;
    margin-right: 2%;
    margin-left: 1%;
    height: 50%;
    width: 50%;
    background: none;
    border: none; 
}

.view-my-quizzes
{
    margin-top: 80px;
    height: 86%;
    overflow: auto;
}

.view-my-quizzes-table
{
    width: 100%;
}

.view-my-quizzes::-webkit-scrollbar {
    display: none;
}


.search-bar-form
{
    margin-top: 90px;
    height: 50px;
    border: solid 1px #D99512;
}
.other-buttons
{
    display: inline-block;
}


.search-bar
{
    height: 50px;
    width: 85%;
    background: none;
    color: white;
    border: none;
}

.search-button
{
    position: relative;
    bottom: 4px;
}

.search-icon
{
    width: 40px;
}

.follower-count-div
{
    border: solid 1px #D99512;
    margin-top: 10px;
    text-align-last: center;
}
.user-count-div
{
    border: solid 1px #D99512;
    margin-top: 10px;
    text-align-last: center;
}