.follow-user-button-div
{
    margin-top: 15px;
}

.follow-user-button
{
    position: relative;
    bottom: 60px;
    left: 80%;
}

.follow-user-icon
{
    width: 60px;
}

.view-user-quizzes
{
    margin-top: 85px;
    height: 85%;
    overflow: auto;
}

.view-user-quizzes-table
{
    width: 100%;
}

.view-user-quizzes::-webkit-scrollbar {
    display: none;
}

.global-quiz-creator-div
{
    margin-top: 10px;
    text-align: center;
    border: solid 1px #D99512;
    width: 75%;
}

.global-user-follower-count-div
{
    margin-top: -54px;
    border: solid 1px #D99512;
    text-align: center;
}

.invisisble
{
    opacity: 0;
    width: 64px;
}

.longer-creatorName
{
    width: 100%;
}